* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--blue: #39add1;
}
html {
	font-family: sans-serif;
	font-size: 15px;
}
ul {
    list-style-type: none;
    box-shadow: none;
}
img{
	border-radius: 50%;
    max-width: 50%;
    height: auto;
}
body {
    background-image: url("../images/background5.jpeg");
    background-size: 100%;
}
.container{
	margin: 0 1rem;
	display: grid;
	grid-column-gap: 50px;
	width: 97vw;
    font: 15px arial, sans-serif;

}
/* main{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 50px;
	min-height: 100vh;
} */
/* .aboutMe{
	color: black;
	background-color: transparent;
	border-style: solid;
	border-radius: 20px;
	border-color: white;
	border-width: .25rem;
	float: center;
	padding: 1rem 1rem;
	text-align: left;
	font-size: 15px;
    margin-top: .4rem;
    margin-left: 1rem;
    height: 90vh;

} */
/* .projects {
    height: 90vh;
} */
/* .contact{
    color: black;
	background-color: transparent;
	border-style:solid;
	border-radius: 20px;
	border-color: white;
	border-width: .25rem;
	float: left;
	padding: 2rem 2rem 2rem 2rem;
	text-align: center;
	font-size: 15px;
    margin-top: .4rem;
    height: 90vh;
} */
h1{
	margin-top: 1rem;
    text-align: center;
    /* color: black; */
    border-style: none;
    font-style: sans-serif;
}
#modalBox span{
	width: 100px;
	border-radius: 50%;
	float: center;
}
.nav{
    color: blanchedalmond;
    padding-top: .5rem;
    padding-right: .5rem;
    position: fixed;
    text-anchor: end;
}
.nav ul {
    display: flex;
    flex-direction: row;
}
.nav ul li {
    padding-right: .5rem;
}
.footer{
    display: flex;
    justify-content: center;
}
.index {
    height: 97vh;  
    color: black;
    padding-top: 20rem;
}
.index h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li h2 a {
    color: blanchedalmond;
}
ul li a{
    color: blanchedalmond;
    font-size: medium;
}
/* li .modal-open {
    overflow: hidden;
} */
button{
    color: blanchedalmond;
    background-color: transparent;
    border: none;
    font-size: medium;
}  
#modalScreen.open {
    display: flex;
}  
#modalScreen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: lightslategrey;
    opacity: 0.95;
    top: 0;
    left: 0;  
    justify-content: center;
    align-items: center;
}  
#modal-box {
    color: black;
    background: transparent;
    border: 2px solid blanchedalmond;
  
    min-width: 300px;
    max-width: 500px;
    width: 80vw;
  
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 15px 5px black;
}  
#modal-box header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: blanchedalmond;
}
#modal-screen.open {
    display: flex;
}  
#modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: lightslategrey;
    opacity: 1;
    top: 0;
    left: 0;  
    justify-content: center;
    align-items: center;
}  
#modalBox {
    color: blanchedalmond;
    background: transparent;
    border: 2px solid blanchedalmond;
  
    min-width: 200px;
    max-width: 400px;
    width: 50vw;
  
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 15px 5px black;
}  
#modalBox header {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    margin-bottom: 1rem;
    color: blanchedalmond;
}
.projects {
    margin: 4rem 2rem;
    justify-content: center;
    align-items: center;
}
.projects article p {
    justify-content: center;
    text-align: center;
}
.projects footer {
    padding-top: 2rem;
    text-align: center;
}
